{#
contains informations on the tags for that post.
#}
{% if post %}
    {% if post.tags is defined  %}
        <h3>Tags</h3>
        {% for tag in post.tags %}
        <ul>
            <li>{{ tag.id }} or {{ tag.term_id }}</li>
            <li>{{ tag.name }}</li>
            <li>{{ tag.slug }}</li>
            <li>{{ tag.taxonomy }}</li>
            <li>{{ tag.description }}</li>
            <li>{{ tag.parent }}</li>
            <li>{{ tag.count }}</li>
            <li>{{ tag.link }}</li>
        </ul>
        {% endfor %}
    {% endif %}
{% endif %}